<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>
      Happy Valentines Day!
    </h1>
    <h2>Little sib last to take their finger off their screen challenge</h2>
    <h3>Read the rules before you begin:</h3>
    <p>
      You will have from [10:25am (end of homeroom)] till [11:54am (start of 5th period)] to play the game.
      The button on the screen must be pressed for all time, no execptions.
      When everyone has tried their best, every 4% of the total time that you hold,
      one chocolate appear in your locker like magic! Using Quick Maths, yall are competing for a pot of 25 candies.

      If all hell breaks out and the server gets set on fire, then everyone will get 6 candies
      and we will call it a day
    </p>
    <h3>Recomendations</h3>
    <ul>
      <li>Use your non-dominate hand</li>
      <li>Use this as a conversational starter with your crush and how your are going to win them big candies</li>
    </ul>
    <p>
      Provide you gamecode, locker number, and name to get started
    </p>
<!-- insert form here -->

  </body>
</html>
